.privacy-policy {
  max-width: 1000px;
  margin: 13rem auto;
  padding: 0 20px;
  color: #333;
 
  h1 {
    font-size: 5.6rem;
    margin-bottom: 1.5rem;
    font-weight: 900;
    color: rgba(89, 136, 255, 1);
    line-height: 120%;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    color: rgba(89, 136, 255, 1);
    line-height: 120%;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    color: rgba(89, 136, 255, 1);
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: rgba(89, 136, 255, 1);
  }

  p, ul {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  ul {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.8rem;
    }
  }

  .highlight {
    color: rgba(89, 136, 255, 1);
    font-weight: 500;
  }

  .blue-shape {
    position: absolute;
    z-index: 0;
    pointer-events: none;

    &.shape-14 {  
      top: 10rem;
      right: 4rem;
      height: 10rem;
      width: 10rem;
    
    }

    &.shape-15 {  
      top: 58rem;  
      right: 0;
    }

    &.shape-16 {  
      top: 90rem;  
      left: 0;
    }
  }
}


@media (max-width: 1200px) {
  .blue-shape.shape-16 {
    display: none;
  }
}


@media (max-width: 768px) {
  .privacy-policy {
    margin: 3rem auto;
    padding: 0 15px;
  }

  .privacy-policy h1 {
    font-size: 3rem;
  }

  .privacy-policy h2 {
    font-size: 1.6rem;
  }

  .privacy-policy h3 {
    font-size: 1.1rem;
  }

  .privacy-policy h4 {
    font-size: 1rem;
  }

  .privacy-policy p,
  .privacy-policy ul {
    font-size: 0.95rem;
  }
  
  .blue-shape {
    display: none;
  }
}

@media (max-width: 480px) {
  .privacy-policy h1 {
    font-size: 2.5rem;
  }

  .privacy-policy h2 {
    font-size: 1.4rem;
  }

  .privacy-policy h3 {
    font-size: 1rem;
  }

  .privacy-policy h4 {
    font-size: 0.95rem;
  }

  .privacy-policy p,
  .privacy-policy ul {
    font-size: 0.9rem;
  }

  .blue-shape {
    display: none;
  }
}

@media (max-width: 835px) {
  .blue-shape {
    display: none;
  }
}