.about {
  position: relative;
  padding: 8rem 10%;
  background: #fff;
  overflow: hidden;

  .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
  }

  .about-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .headline-wrapper {
      .headline {
        font-size: 7.5rem;
        font-weight: 900;
        color: rgba(89, 136, 255, 1);
        line-height: 100%;
        letter-spacing: 1%;
      }
      .headline span {
        white-space: nowrap;
      }
    }

    .intro-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 45px;
      gap: 1rem;
      padding-top: 1.5rem;

      .intro {
        font-size: 2rem;
        color: rgba(89, 136, 255, 1);
        font-weight: 900;
        text-align: center;
      }

      .info-boxes-wrapper {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding-top: 0.5rem;

        .info-box {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-size: 16px;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 0%;
          color: rgba(89, 136, 255, 1);

          .icon-default,
          .icon-hover {
            width: 40px;
            height: 35px;
            object-fit: contain;
            flex-shrink: 0;
            transition: none;
          }

          .icon-hover {
            display: none;
            transition: none;
          }

          &:hover .icon-default {
            display: none;
            transition: none;
          }

          &:hover .icon-hover {
            display: inline;
            transition: none;
          }
        }
      }
    }
  }

  .about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    padding-top: 3rem;

    .description-wrapper {
      .description {
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        color: rgba(0, 0, 0, 1);
        letter-spacing: 0%;
      }
    }

    .msg-btn {
      max-width: 15.5rem;
    }

    .msg-btn:hover {
      color: #fff !important;
    }
  }

  .blue-shape {
    position: absolute;
    top: 2rem;
    right: 25%;
    z-index: 1;
  }

  .big-blue-shape {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 206px;
    height: 206px;
    z-index: 0;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 13rem 5%;

    .about-content {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

    .about-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.5rem;

      .headline-wrapper {
        .headline {
          font-size: 3.4rem;
        }

        .headline span {
          white-space: normal;
        }
      }

      .intro-wrapper {
        font-size: 1.2rem;
        gap: 0.8rem;

        .intro {
          font-size: 1.5rem;
        }

        .info-boxes-wrapper {
          flex-direction: column;
          gap: 2rem;

          .info-box {
            font-weight: 900;
            font-size: 1.2rem;
          }
        }
      }
    }

    .about-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding-top: 2rem;

      .description-wrapper {
        .description {
          font-size: 1.7rem;
          padding-bottom: 2rem;
        }
      }

      .msg-btn {
        max-width: 100%;
        text-align: center;
      }
    }

    .blue-shape {
      top: 5.5rem;
      left: 74%;
      transform: translateX(-50%);
    }
  }
}
