.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  overflow: hidden;
  background-color: rgba(242, 245, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: auto;
  z-index: 1;
  min-width: 328px;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  z-index: 2;
}

.profile-img {
  width: auto;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2;
  padding-bottom: 20rem;
  word-wrap: break-word;
  white-space: normal;
}

.hero-text .intro {
  font-size: clamp(1rem, 3.5vw, 4rem);
  color: rgba(89, 136, 255, 1);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0%;
}

.hero-text .title {
  font-weight: 800;
  color: rgba(89, 136, 255, 1);
}

.title .line-1 {
  font-size: clamp(1.5rem, 8vw, 9rem);
  line-height: 80%;
  letter-spacing: -2.5%;
}

.title .line-2 {
  font-size: clamp(1.5rem, 7.5vw, 8rem);
  line-height: 80%;
  letter-spacing: -2%;
}

.scroll-indicator {
  position: absolute;
  right: 30%;
  bottom: 0;
  text-align: center;
}

.scroll-indicator p {
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: 500;
  color: rgba(89, 136, 255, 1);
}

.scroll-indicator img {
  height: 200px;
  width: 2%;
}

.social-media {
  position: absolute;
  right: 10%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 2;
}

.social-media img {
  transition: transform 0.3s ease;
}

.social-media img:hover {
  transform: translateX(-15px);
}

.social-media a {
  cursor: default;
}

.mobile-scroll-indicator {
  display: none;
}

.hero-text.german .intro {
  font-size: clamp(1rem, 3vw, 4rem);
}

.hero-text.german .title .line-1 {
  font-size: clamp(6rem, 8vw, 9rem);
  line-height: 80%;
  letter-spacing: -2.5%;
}

.hero-text.german .title .line-2 {
  font-size: clamp(4.7rem, 5.8vw, 8rem);
}

@media (max-width: 1150px) {
  .site-header .nav-right {
    gap: 3rem;
  }

  .blue-bg {
    width: 55%;
  }
}

@media (max-width: 950px) {
  .blue-bg {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .hero-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .hero {
    padding-top: 0;
  }

  .hero-text {
    padding-top: 155px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .hero-image {
    width: 100%;
    height: auto;
    max-height: 64vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .profile-img {
    width: auto;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .hero-text .intro {
    font-size: clamp(1.5rem, 4vw, 5rem);
    color: white;
  }

  .title .line-1 {
    font-size: clamp(3.5rem, 10vw, 8rem);
    color: white;
  }

  .title .line-2 {
    font-size: clamp(3.2rem, 9.5vw, 7.5rem);
    color: white;
  }

  .blue-bg {
    width: 90%;
  }

  .scroll-indicator,
  .social-media {
    display: none;
  }

  .mobile-scroll-indicator img {
    width: 100%;
    height: auto;
    display: block;
  }

  .mobile-scroll-indicator {
    display: block;
    position: absolute;
    bottom: 35px;
    right: 3px;
    width: 33px;
    z-index: 2;
  }

  .hero-text.german .intro {
    font-size: clamp(2rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(5.5rem, 8vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(4rem, 6.2vw, 8rem);
  }
}

@media (max-width: 600px) {
  .blue-bg {
    width: 110%;
    transform: translate(-13%, 0%);
  }

  .hero-text.german .intro {
    font-size: clamp(2.2rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(5.5rem, 7vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(4rem, 5.2vw, 8rem);
  }
}

@media (max-width: 500px) {
  .blue-bg {
    width: 140%;
    transform: translate(-30%, 0%);
  }

  .hero-text.german .intro {
    font-size: clamp(1.5rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(5rem, 7vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(3.7rem, 5.2vw, 8rem);
  }
}

@media (max-width: 450px) {
  .hero-text.german .intro {
    font-size: clamp(1.5rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(4.5rem, 7vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(3.3rem, 5.2vw, 8rem);
  }
}

@media (max-width: 375px) {
  .blue-bg {
    width: 151%;
    transform: translate(-34%, 0%);
  }

  .hero-text.german .intro {
    font-size: clamp(1.3rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(3.5rem, 7vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(2.5rem, 5.2vw, 8rem);
  }
}

@media (max-width: 344px) {
  .blue-bg {
    width: 187%;
    transform: translate(-47%, 0%);
  }

  .hero-text.german {
    padding-top: 180px;
  }

  .hero-text.german .intro {
    font-size: clamp(1.5rem, 2.6vw, 4rem);
  }

  .hero-text.german .title .line-1 {
    font-size: clamp(3.6rem, 7vw, 9rem);
    line-height: 80%;
    letter-spacing: -2.5%;
  }

  .hero-text.german .title .line-2 {
    font-size: clamp(2.6rem, 5.2vw, 8rem);
  }
}
